<a href="https://colab.research.google.com/github/Maestria-IA-Aplicada-2025/clase-semana2/blob/main/actividad_titanic_analisis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üéì Actividad: An√°lisis Exploratorio con el Dataset del Titanic

En esta actividad, deber√°s aplicar tus conocimientos de `pandas`, `matplotlib`, `sqlite3` y manejo de archivos Excel para analizar un subconjunto del dataset del Titanic.

## üìå Objetivos
- Practicar la carga de datos desde diferentes fuentes (texto, Excel, SQLite).
- Aplicar operaciones b√°sicas de agrupamiento y filtrado con `pandas`.
- Crear visualizaciones con `matplotlib` para interpretar resultados.

## üì• Paso 1: Cargar los datos desde texto (simulado como CSV)

Utiliza `pandas` y `StringIO` para cargar este dataset.

In [ ]:
from io import StringIO
import pandas as pd

titanic_data = '''Nombre,Edad,Genero,Clase,Superviviente
Allen,29,female,1,1
Braund,22,male,3,0
Cumings,38,female,1,1
Heikkinen,26,female,3,1
Futrelle,35,female,1,0
Moran,,male,3,0
Nasser,21,female,1,1'''

# TU C√ìDIGO AQU√ç:
df_titanic = pd.read_csv(StringIO(titanic_data))
df_titanic

## üíæ Paso 2: Guardar los datos en formato Excel y volver a cargarlos

Usa el m√©todo `to_excel` y `read_excel` de `pandas`. Recuerda usar el formato `.xlsx`.

In [ ]:
# TU C√ìDIGO AQU√ç:
df_titanic.to_excel("/mnt/data/titanic_actividad.xlsx", index=False)
df_excel = pd.read_excel("/mnt/data/titanic_actividad.xlsx")
df_excel

## üóÉÔ∏è Paso 3: Guardar y consultar datos desde una base de datos SQLite

Utiliza `sqlite3` para crear una base de datos en memoria y guardar la tabla. Luego consulta todos los datos con SQL.

In [ ]:
import sqlite3

# TU C√ìDIGO AQU√ç:
conn = sqlite3.connect(":memory:")
df_excel.to_sql("titanic", conn, index=False, if_exists="replace")
df_sql = pd.read_sql("SELECT * FROM titanic", conn)
df_sql

## üìä Paso 4: An√°lisis de datos con pandas

1. ¬øCu√°l es la edad promedio por clase?
2. ¬øCu√°ntas personas sobrevivieron por g√©nero?

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Edad promedio por clase
df_sql.groupby("Clase")["Edad"].mean()

In [ ]:
# Sobrevivientes por g√©nero
df_sql.groupby("Genero")["Superviviente"].sum()

## üìà Paso 5: Visualizaci√≥n con matplotlib

1. Crea un histograma de la columna `Edad`.
2. Crea un gr√°fico de barras de `Superviviente` agrupado por `Clase`.

In [ ]:
import matplotlib.pyplot as plt

# Histograma de edades
plt.figure(figsize=(8, 5))
df_sql["Edad"].dropna().plot(kind='hist', bins=5, color='skyblue', edgecolor='black')
plt.title("Distribuci√≥n de Edad")
plt.xlabel("Edad")
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
# Gr√°fico de barras de sobrevivientes por clase
sobrevivientes_clase = df_sql.groupby("Clase")["Superviviente"].sum()

plt.figure(figsize=(8, 5))
sobrevivientes_clase.plot(kind='bar', color='orange', edgecolor='black')
plt.title("Sobrevivientes por Clase")
plt.xlabel("Clase")
plt.ylabel("Cantidad de Sobrevivientes")
plt.grid(True, axis='y')
plt.tight_layout()
plt.show()